ion-content.background{
    --background: url(../../assets/imgs/home/detailsbg.png) 0 0/100% 100% no-repeat;
  }
  
  
  
  .custom_header {
    background-color: transparent !important;
  }
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    }

    
ion-card{
    --background:rgb(255, 255, 255);
    border-radius: 50px;
  }
  